@import './transitions/transitions-banner/_banner.scss';
@import './transitions/fade-in.scss';
@import './transitions/scroll-up.scss';

@import './bootstrap-theme.scss';
@import './components/carousel-banner.scss';
@import './components/carousel-multi-image.scss';
@import './components/image.scss';
@import './components/gallery-modal.scss';
@import './components/navbar.scss';

// //Declare any bootstrap SCSS variables prior to importing the files
@import 'node_modules/bootstrap/scss/bootstrap';

$my-default: 3rem; // Sets default y-axis margin

body {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.container {
  // Sets default y-axis margin for containers
  margin-top: $my-default;
  margin-bottom: $my-default;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//Shape section ready for use as a background
.background-shape {
  width: 100%;
  height: 200px;
  background-color: $primary;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

// Accordion
